
<h1> Welcome <%= current_user.downcase_nickname %> <h1>

<h2> Your email is: <%= current_user.email %> <h2>


<ul>
  <% current_user.flats.each do |flat| %>
    <li> <%= flat.name %> </li>
  <% end %>
</ul>
